body > * {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.6em;
}


#cli-sit li {
  font-size: 1em;
  list-style-type: square;
  line-height: 1.4em;
  margin: 10% 0;
}

.brand-logo {
  height: 75px;
  margin: .5% 0;
}

.pad-nav {
  height: 95px;
}

nav ul a:hover {
  color: #ff9933;
}

p {
  font-weight: 200;
  line-height: 1.7em;
  letter-spacing: 2px;
}


a {
  color: #ff9933;
}

.main-header {
  width:100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background:
    linear-gradient(to bottom, rgba(1, 68, 83, 1), rgba(0, 134, 134, .8)),
    url("/img/skyout.jpg") no-repeat center fixed;
  background-size: cover;
}

.image-stripe-one {
  margin-top: 45px;
  width:100%;
  height: 37vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background:
    linear-gradient(to bottom, rgba(0, 134, 134, .8), rgba(0, 134, 134, .8)),
    url("/img/yostwo.jpg") no-repeat center fixed;
  background-size: cover;
}

.image-stripe-two {
  margin-top: 45px;
  width:100%;
  height: 37vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background:
    linear-gradient(to bottom, rgba(0, 134, 134, .8), rgba(0, 134, 134, .8)),
    url("/img/yosthree.jpg") no-repeat center fixed;
  background-size: cover;
}

.image-stripe-three {
  margin-top: 45px;
  width:100%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background:
    linear-gradient(to bottom, rgba(0, 134, 134, .7), rgba(0, 134, 134, .5)),
    url("/img/sanfran.jpg") no-repeat center fixed;
  background-size: cover;
}

.section {
  text-align: center;
}

.main-banner {
  font-size: 5em;
  margin: 0;
  font-weight: 900;
  color: #fff;
  letter-spacing: -6px;
}

.logo-case {
  margin-right: auto;
}

.logo {
  height: 50px;
}

h1 {
  margin-top: 4%;
}



.btm-banner {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ff9933;
  font-size: .8em;
}

.navbar {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  /*background-color: rgba(255, 255, 255, 0.12);*/
}

.nav-list {
  flex-direction: row;
  vertical-align: middle;
}

.nav-element {
  color: #fff;
  text-transform: uppercase;
  margin-right: 15px;
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: 200;
  text-align: center;
}
.nav-element:hover {
  border-bottom: 3px solid #ff9933;
}



/*---------------------- MAIN PAGE ---------------------*/

.row {
  margin: 0;
  padding: 5%,
}


.trifoldBlock * {
  color: #444;
  line-height: 1.1em;
  letter-spacing: .5px;
}

.infoBlock-header {
  font-weight: 900;
  text-align: center;
  letter-spacing: -3px;
  text-transform: uppercase;
}

.icon-sect {
  height: 75vh;
  display: flex;
}

.mission-sect {
  background:
    linear-gradient(to bottom, rgba(255, 255, 255, 0.73), rgba(255, 255, 255, 1)),
    url("../img/mission.jpg") no-repeat center;
    background-size: cover;
}

.vision-sect  {
  background:
  linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 1)),
    url("../img/stars.jpg") no-repeat center;
    background-size: cover;
}

.phil-sect {
  background:
  linear-gradient(to bottom, rgba(255, 255, 255, 0.73), rgba(255, 255, 255, 1)),
    url("../img/blueprint.jpg") no-repeat center;
    background-size: cover;
}


.icon {
  height: 33vh;
  margin-top: auto;
  margin-bottom: auto;
}

.sect-block {
  padding: 2% 10%;
  line-height: 1.2em;
}

.click-me-font {
  font-weight: 600;
  margin: 15%;
}


#services_table {
  height: 100vh;
  margin-bottom: 10% ;

}

.go-to-contact{
  width: 33%;
  margin-top: 5%;
  padding: 2% 0;
  border: none;
  border-radius: 2px;
  background-color: #ff9933;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
}

.explore_site {
  display: flex;
  align-items: center;
  height: 10vh;
  padding: 5%;
}

.explore_site p {
  color: #444;
}

.arrow-home {
  height: 5vh;
  width: auto;
  margin: 5% 0;
}

.arrow-btn {
  height: 30px;
  align-self: center;
}

/*---------------------- LOGIN ---------------------*/

.loginBtn {
  background: linear-gradient(#014453, #008686);
  color: #fff;
  font-size: .9em;
  font-weight: 600;
  margin-bottom: 9%;
}

.loginBtn:hover {
  background: linear-gradient(#014453, #008686);
  color: #ff9933;
  font-weight: 600;
  margin-bottom: 9%;
  box-shadow: 0 11px 6px -6px #777;
}


.login-cont{
  display: inline-block;
  padding: 32px 48px 0px 48px;
  border: 1px solid #EEE;
  border-radius: 5px;
  background-color: #fafafa;
}

#login-btn {
  background-color: #ff9933;
  margin-bottom: 15px;
}

.input-field input[type=date]:focus + label,
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label {
  color: #ff9933;
}

.input-field input[type=date]:focus,
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
  border-bottom: 2px solid #ff9933;
  box-shadow: none;
}


#contact-field {
  height: 100vh;
  background: linear-gradient(#ff9933, #ffab59);
  padding: 50px 0;
  color: #fff;
  border-top: 3px solid teal;

}

.form-btn {
  display: flex;
  justify-content: space-between;
}

/*---------------------- MOBLE NAV ---------------------*/


.header-top {
  height: 100vh;
}

.b-a, .bar, .bar:before, .bar:after {
  transition: all .25s;
  content: "";
  position: absolute;
  right: 0;
  height: 6px;
  width: 30px;
  border-radius: 1px;
  background-color: #ff9933;
}

.menu-collapsed {
  visibility: hidden;
  transition: all .25s;
  position: fixed;
  top: 10px;
  right: 10px;
  height: 36px;
  width: 36px;
  z-index: 1;
  cursor: pointer;
}

.menu-collapsed ul {
  transition: all 0s;
  position: fixed;
  left: -9000px;
}

.bar {
  position: fixed;
  margin: 2%;
}

.bar:before {
  top: -8px;
}

.bar:after {
  top: 8px;
  color: #fff;
}

.b-a-expanded, .menu-expanded .bar:before, .menu-expanded .bar:after {
  transition: all .25s;
  top: -0px;
}
.b-a-expanded-inv, .menu-expanded-inv .bar:before, .menu-expanded-inv .bar:after {
  transition: all .25s;
  top: -0px;
}

.menu-expanded {
  transition: all .25s;
  text-align: center;
  line-height: 3.5em;
  height: 100%;
  width: 100%;
  border-radius: 0px;
  top: 0;
  left: 0;
  background: linear-gradient(teal, #014453);
}

.menu-expanded-inv {
  transition: all .25s;
  text-align: center;
  line-height: 3.5em;
  height: 100%;
  width: 100%;
  border-radius: 0px;
  top: 0;
  left: 0;
  background: #fff;
}

.menu-expanded ul {
  margin-top: 4%;
  transition: all 0s;
  position: relative;
  left: 0;
  z-index: 2;
}
.menu-expanded-inv ul {
  margin-top: 4%;
  transition: all 0s;
  position: relative;
  left: 0;
  z-index: 2;
}



.menu-expanded a {
  font-weight: 600;
  transition: all .15s;
  text-decoration: none;
  font-size: 2em;
  padding: 5px;
  color: #fff;
  display: block;
}

.menu-expanded-inv a {
  font-weight: 600;
  transition: all .15s;
  text-decoration: none;
  font-size: 2em;
  padding: 5px;
  color: #ff9933;
  display: block;
}

.menu-expanded a:hover {
  transition: all .15s;
  letter-spacing: 1px;
  color: #ff9933;
}
.menu-expanded-inv a:hover {
  transition: all .15s;
  letter-spacing: 1px;
  color: #ffb687;
}

.menu-expanded .bar {
  background-color: transparent;
  transition: all .25s;
}

.menu-expanded .bar:before {
  transform: rotate(45deg);
}

.menu-expanded .bar:after {
  transform: rotate(-45deg);
}

.menu-expanded-inv .bar {
  background-color: transparent;
  transition: all .25s;
}

.menu-expanded-inv .bar:before {
  transform: rotate(45deg);
}

.menu-expanded-inv .bar:after {
  transform: rotate(-45deg);
}



/*---------------------- PAGES ---------------------- */

.stripe {
  height: 25vh;
  width: 100%;
  background-color: #008686;
  margin: 0 ;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  padding: 10%;
}

.stripe-logo {
  height: 10vh;
  margin-right: 2%;
}

.temp-header {
  margin: 0;
  color: #fff;
  font-weight: 900;
  font-size: 5em;
}

.subhead-one {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.sub-header-two {
  text-transform: uppercase;
  font-weight: 600;
  text-align: left;
}


.blue-gradient {
  min-height: 600px;
  padding: 6% 0;
  background: linear-gradient(#014453, #008686);
  color: #fff;
  border-bottom: 2px solid #ff9933;

}

.quote {
  font-family: 'Neuton', serif;
  font-style: italic;
  color: #ff9933;
  padding: 1% 8%;
  line-height: 1.3em;
  letter-spacing: 2px;
  font-size: 1.3em;
}

.next {
  display: inline-block;
  margin: 2%;
}

.back {
  display: inline-block;
  margin: 2%;
}

.questions {
  padding: 5% 5% 0 5%;
  color: #444;
}

.btn-two {
  width: 100%;
  padding: 1%;
  border: none;
  border-radius: 2px;
  background-color: #008686;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
}
.btn-two:hover {
  box-shadow: 0 11px 6px -6px rgba(119, 119, 119, 0.71);
  color: #ff9933;
}

.btn-three {
  width: 100%;
  margin-top: 5%;
  padding: 3% 0;
  border: none;
  border-radius: 3px;
  background-color: #ff9933;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
}

.btn-three:hover {
  box-shadow: 0 9px 6px -6px rgba(119, 119, 119, 0.71);
  background-color: #ffb162;

}

.sub-btn {
  width: 100%;
  padding: 1%;
  border: none;
  border-radius: 2px;
  background-color: #008686;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
}

.sub-btn:hover {
  background-color: #03a6a6;
  box-shadow: 0 9px 6px -6px rgba(119, 119, 119, 0.71);
}

.service-pref {
  font-size: .7em;
  line-height: 1.5em;
}


.icon-two {
  height: 50px;
}

.maslow {
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  min-height: 500px;
  padding: 5% 8% 4%;
  background: linear-gradient(#ff9933, #f3ae81);
  color: #444;
  margin-bottom: 75px;
}

.pymd-img {
  float: left;
  margin: 5% 6% 6% 0;
  height: 500px;
}

#client-stack-one,
#client-stack-two {
  padding: 0 2rem;
}

.serv-image {
  height: 100%; width: 150px; margin: 25px 0;
}


/*---------------------- FOOTER ---------------------- */

.secondary-color {
  display: block;
  /*padding: 20px 0 10px 10px;*/
  background-color: #c9c9c9;
  min-height: 200px;
  /*position: absolute;*/
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}

.cprfoot {
  font-size: 15px;
  bottom: 0;
}
.cprfoot a {
  color: #fff;
}


.footer-nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 75vw;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 200;
  font-size: 18px;
}

.footer-nav ul li a {
  margin-right: 20px;
}


.foot-content {
  font-size: 18px;
  color: #444;
  padding: 0;
  margin: 0 2% 0 0;
}


.footer-title {
  text-align: center;
}

.footer-copyright {
  font-size: 15px;
  padding: 0;
}

.contact-nav {
  display: flex;
  justify-content: space-between;
}

.botm-marg {
  margin-bottom: 7%;
}


.tricker {
  margin-top: 50px;
}
/*.tricker h5 {
  margin: 0;
  height: 50px;
  line-height: 50px;
  font-size: 40px;
  text-align: center;
  text-transform: lowercase;
  transition: margin-top 1s ease;
  color: #ff9933;
  font-weight: bold;
}*/


/*-------------------- MEDIA QUERIES --------------------*/



@media only screen and (max-width : 992px) {
  .main-header {
    heigh: 100%;
  }
  .temp-header {
    font-size: 4.5em;
  }
  #index-banner {
    top: 3%;
  }
  .header-cont {
    font-size: .9em;
  }

  .pymd-img {
    float: left;
    margin: 5% 12%;
    height: 400px;
  }

  .menu-collapsed {
    visibility: visible;
  }

  .nav-list {
    visibility: hidden;
  }
}

@media only screen and (max-width : 600px) {
  .main-banner {
    font-size: 4em;
    margin-top: 5%;
  }
  .temp-header {
    font-size: 3.5em;
  }

  .header-cont {
    font-size: .9em;
  }

  .trifoldBlock {
    text-align: center;
  }
  .row .col {
    float: none;
  }
  .pymd-img {
    float: left;
    margin: 5% 12%;
    height: 300px;
  }

}
