.parallax-container {
  height: 500px;
}

img {
  height: 100%;
}

/* ------------- NAV BAR -----------------*/
.nav-wrapper {
  background-color: #fff;
  padding: 0 5%;
}

.nav-links {
  color: tomato;
}

/*------------- VISIBILTY ----------------*/

.hide {
  visibility: none;
}
