body > * {
  font-family: 'Source Sans Pro', sans-serif;
}

nav ul a,
nav {
  color: #444;
  box-shadow: none;
}

.main-header {
  background: linear-gradient(orange, white)
}

.brand-logo {
  height: 50px;
  margin: .5% 0;
}

.pad-nav {
  height: 65px;
}

nav ul a:hover {
  color: #fb8233;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #006880;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
  width: 100%;
}

i {
  color: #006880;
}

.tag-under {
  display: block;
  margin-top: 190px;
}

.nav-width {
  width: 92%;
}

.italix-banner {
  font-style: italic;
  color: #fb8233;
}

.transp-sect {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  padding: 8%;

}

.maslow {
  display: block;
  float: right;
  height: 400px;
  margin-left: 7%;
}

.secondary-color {
  background-color: #444;
}

.cprfoot {
  background-color: #5e5e5e;
  padding: 1% 0;
}

.header-pad {
  padding: 0 5%;
}

/*---------------------- SIDE NAV ---------------------*/

/*
.side-nav {
  background-color: #fc8033;
  text-align: center;
  padding-top: 5%;
}

.side-nav a {
  color: white;
  font-size: 1.5em;

}

.side-nav a:hover {
  background-color: white;
}
*/



.leader {
  width: 100%;
  height: 66%;
  background-size: cover;
  background-position: center;
}

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}
.main-nav ul {
  width: 100%;
  list-style: none;
  line-height: 2;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  font-size: 24px;
}

.is-active-menu {
  overflow: hidden;
}
.is-active-menu .main-nav {
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.is-active-menu .wrapper {
  position: relative;
  z-index: 20;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  margin-top: -70px;
}

.nav-toggle {
  top: 25px;
  z-index: 2;
  right: 12px;
  width: 25px;
  height: 20px;
  padding: 8px 0;
  cursor: pointer;
  position: absolute;
}
.nav-toggle span {
  height: 4px;
  display: block;
  overflow: hidden;
  text-indent: 100%;
  background: #fff;
  white-space: nowrap;
  width: 25px;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.nav-toggle::before, .nav-toggle::after {
  left: 0;
  content: '';
  width: 25px;
  height: 4px;
  background: #fff;
  position: absolute;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: width 0.2s ease-in-out, background 0.2s ease-in-out, top 0.2s ease-in-out, bottom 0.2s ease-in-out, left 0.2s ease-in-out, right 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  transition: width 0.2s ease-in-out, background 0.2s ease-in-out, top 0.2s ease-in-out, bottom 0.2s ease-in-out, left 0.2s ease-in-out, right 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  transition: width 0.2s ease-in-out, background 0.2s ease-in-out, transform 0.2s ease-in-out, top 0.2s ease-in-out, bottom 0.2s ease-in-out, left 0.2s ease-in-out, right 0.2s ease-in-out;
  transition: width 0.2s ease-in-out, background 0.2s ease-in-out, transform 0.2s ease-in-out, top 0.2s ease-in-out, bottom 0.2s ease-in-out, left 0.2s ease-in-out, right 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.nav-toggle::before {
  top: 0;
}
.nav-toggle::after {
  bottom: 0;
}
.nav-toggle.menu-open span {
  background: rgba(255, 255, 255, 0);
}
.nav-toggle.menu-open::before {
  top: 8px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.nav-toggle.menu-open::after {
  bottom: 8px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.nav-toggle.menu-open::before, .nav-toggle.menu-open::after {
  width: 26px;
  background: #fff;
}
.nav-toggle.menu-open:hover span, .nav-toggle.menu-open:focus span, .nav-toggle.menu-open:active span {
  background: rgba(255, 255, 255, 0);
}
.nav-toggle.menu-open:hover::before, .nav-toggle.menu-open:focus::before, .nav-toggle.menu-open:active::before {
  top: 8px;
  left: -3px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.nav-toggle.menu-open:hover::after, .nav-toggle.menu-open:focus::after, .nav-toggle.menu-open:active::after {
  left: 9px;
  bottom: 8px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.nav-toggle.menu-open:hover::before, .nav-toggle.menu-open:hover::after, .nav-toggle.menu-open:focus::before, .nav-toggle.menu-open:focus::after, .nav-toggle.menu-open:active::before, .nav-toggle.menu-open:active::after {
  width: 18px;
}
.nav-toggle:hover span, .nav-toggle:focus span, .nav-toggle:active span {
  background: rgba(255, 255, 255, 0);
}
.nav-toggle:hover::before, .nav-toggle:focus::before, .nav-toggle:active::before {
  top: 8px;
  left: -3px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.nav-toggle:hover::after, .nav-toggle:focus::after, .nav-toggle:active::after {
  left: 9px;
  bottom: 8px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.nav-toggle:hover::before, .nav-toggle:hover::after, .nav-toggle:focus::before, .nav-toggle:focus::after, .nav-toggle:active::before, .nav-toggle:active::after {
  width: 18px;
}



/*---------------------- LOGIN ---------------------*/

.login-cont{
  display: inline-block;
  padding: 32px 48px 0px 48px;
  border: 1px solid #EEE;
  border-radius: 5px;
  background-color: #fafafa;
}

#login-btn {
  background-color: #fb8233;
  margin-bottom: 15px;
}


.input-field input[type=date]:focus + label,
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label {
  color: #fb8233;
}

.input-field input[type=date]:focus,
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
  border-bottom: 2px solid #fb8233;
  box-shadow: none;
}

/*-------------------- HIDE --------------------*/

.hide {
  visibility: none;
}

/*-------------------- MEDIA QUERIES --------------------*/

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 5%;
  }
  #index-banner .section {
    top: 3%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }

  .maslow {
    height: 200px;
    float: none;
    text-align: center;
    margin: auto;
  }
}

/*---------------------- ICONS ---------------------- */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

/*---------------------- FOOTER ---------------------- */

footer.page-footer {
  margin: 0;
}

.foot-content {
  margin-top: 5%;
}

.footer-title {
  text-align: center;
}

.contact-nav {
  display: flex;
  justify-content: space-between;
}
