<div class="menu-collapsed">
 <div class="bar"></div>

 <div class="moble-nav">
   <ul>
     <li><a href="/#!/home#main-top">Home</a></li>
     <li><a href='/#!/why#why-top'>Why We Serve</a></li>
     <li><a href="/#!/how#how-top">How We Serve</a></li>
     <li><a href="/#!/who#who-top">Who We Serve</a></li>
     <li><a href="/#!/resources">Resources</a></li>
     <li><a href="/#!/why#about">About</a></li>
   </ul>
 </div>
</div>

<!-- NAV BAR -->
<div id="nav" class="navbar">
  <div class="logo-case">
    <a href="/#!/home#main-top">
      <img class="logo" src="img/PWA_logo_orange.png" alt="logo">
    </a>
  </div>
  <div class="nav-list">
    <a class="nav-element dropdown-button" href='/#!/why#why-top' data-beloworigin="true" data-activates='dropdown1'>Why We Serve</a>
      <ul id='dropdown1' class='dropdown-content'>
        <li><a href="/#!/why#vision">Our Vision</a></li>
          <li><a href="/#!/why#mission">Our Mission</a></li>
          <li><a href="/#!/why#about">Our Journey</a></li>
      </ul>
    <a class="nav-element dropdown-button" href="/#!/how#how-top" data-beloworigin="true" data-activates='dropdown2'>How We Serve</a>
      <ul id='dropdown2' class='dropdown-content'>
          <li><a href="/#!/how#anewparadigm"> A New <u>Paradigm</u></a></li>
          <li><a href="/#!/how#truwealth"> Creating True <u>Wealth</u></a></li>
          <li><a href="/#!/how#be-an-architect"> Being A Decision <u>Architect</u></a></li>
      </ul>
    <a class="nav-element dropdown-button" href="/#!/who#who-top" data-beloworigin="true" data-activates='dropdown3'>Who We Serve</a>
      <ul id='dropdown3' class='dropdown-content'>
        <li><a href="/#!/services#services">Our Services</a></li>
        <li><a href="/#!/home/#contact-field">Contact Us</a></li>
      </ul>
    <a class="nav-element dropdown-button" href="/#!/resources" data-beloworigin="true" data-activates='dropdown4'>Resources</a>
      <ul id='dropdown4' class='dropdown-content'>
        <li><a href=" ">Blog</a></li>
        <li><a href="https://www.rightcapital.com/sign-up?referral=ohiTFXtlIoqpbh1w1SAUwQ&type=client">Client Login</a></li>
      </ul>
    <a class="nav-element dropdown-button" href="/#!/why#about">About</a>
  </div>
</div>

<div id="startchange" class="legal-page" id="why-top">
  <div id="why-top" class="center">
    <h1 class="temp-header" style="color: #014453"> Disclosure </h1>
    <div id="vision" class="image-stripe-four">

    </div>
  </div>
  <div class="container">
    <p>
      Paradigm Wealth Architects, LLC (“Paradigm Wealth”) is a registered investment adviser offering advisory services in the State of California and in other jurisdictions where exempted.  Registration does not imply a certain level of skill or training. The presence of this website on the Internet shall not be directly or indirectly interpreted as a solicitation of investment advisory services to persons of another jurisdiction unless otherwise permitted by statute. Follow-up or individualized responses to consumers in a particular state by Paradigm Wealth in the rendering of personalized investment advice for compensation shall not be made without our first complying with jurisdiction requirements or pursuant an applicable state exemption.
    </p>
    <p>
      All written content on this site is for information purposes only. Opinions expressed herein are solely those of Paradigm Wealth, unless otherwise specifically cited.  Material presented is believed to be from reliable sources and no representations are made by our firm as to another parties’ informational accuracy or completeness.  All information or ideas provided should be discussed in detail with an advisor, accountant or legal counsel prior to implementation.
    </p>
  </div>
</div>

<div class="secondary-color">
  <div class="footer-nav">
    <ul>
      <li><a class="foot-content" href="/#!/why#why-top">Why We Serve</a></li>
      <li><a class="foot-content" href="/#!/how#how-top">How We Serve</a></li>
      <li><a class="foot-content" href="/#!/who#who-top">Who We Serve</a></li>
      <li><a class="foot-content" href="/#!/services#services-top">Services</a></li>
      <li><a class="foot-content" href="/#!/why#about">About</a></li>
    </ul>
  </div>

  <div class="cprfoot">
    <ul>
      <li class=""><a class=" text-lighten-3" href="/#!/disclosure">Disclosure</a></li>
      <li class=""><a class=" text-lighten-3" href="/#!/privacy">Privacy</a></li>
      <li class=""><a class=" text-lighten-3" href="http://lukewdwrd.net/">Designed by Luke Woodward</a></li>
      <li class=""><a class=" text-lighten-3" href="/#!/disclaimer">&copy Copyright Paradigm Wealth Architects 2017</a></li>
    </ul>
  </div>
</div>
