<div class="center">
  <h1>How We Serve</h1>
</div>

<div class="container botm-marg">

  <div class="quote">
    “If I have the belief that I can do it, I shall surely acquire the capacity to do it even if I may not have it at the beginning.” – Mahatma Gandhi
  </div>

  <p>
    Our experience serving over 150 different clients at several leading financial planning firms has taught us that true fulfillment will never be measured in dollar signs. Money and financial success are helpful to create opportunity in the present and security for the future, but are merely tools to help achieve life goals. Knowing what is most important and making decisions to follow life’s passions results in the greatest satisfaction.
  </p>
  <p>

    These experiences have afforded us a unique perspective and a refreshing approach to financial planning: We trust you to be the expert in your life and will use our experience and passion as the foundation of our relationship. Knowing that your heart’s core is the anchor for every discussion, analysis, and recommendation, you will have confidence to evaluate trade-offs and become the decision-architect for your life.
  </p>
  <p>
    What makes us different is our focus on you! We do not try to pressure you and we do not have products to sell to you – instead we work to understand who you are, what drives you, where you want to be, and help you determine which areas of our expertise will help you get what you want out of life. From those with very little understanding of finances to individuals who know what to do but would prefer to outsource the time and energy, we work with you to craft a customized plan that will help clear your path.

  </p>
  <p>
    This is far from the ‘Wizard of Oz’ approach where clients are left in the dark while someone positions themselves as an authority figure and pulls some stings and levers behind a curtain. Instead, our client relationships are purely collaborative. We understand that you are a hardworking, busy professional and are investing your resources (time, money, energy, skills, etc.) across various aspects of your life (family, work, health, community, leisure, personal growth, learning, etc.). Based on how you prefer to use your resources in pursuit of your fullest life, we have a conversation around which and how much of our resources (time, skills, knowledge, etc.) you would like to leverage. There is no selling involved and we do not force our clients into paying for services they do not want or need.
  </p>

</div>
