<div class="logo-case">
  <img class="logo" src="img/PWA_logo.png" alt="logo">
</div>
<div class="menu-collapsed">
 <div class="bar"></div>

 <div class="moble-nav">
   <ul>
     <li><a class="" href="/#/why">Why We Serve</a></li>
     <li><a class="" href="/#/how">How We Serve</a></li>
     <li><a class="" href="/#/who">Who We Serve</a></li>
     <li><a class="" href="/#/resources">Resources</a></li>
     <li><a class="" href="/#/philosophies">Philosophy</a></li>
     <li><a class="" ng-click="doLogout()">Sign Out</a></li>
   </ul>
 </div>

</div>

<!-- <a id="logo-container" href="#"><img src="img/arrows copy.png" alt="logo"></a> -->

<!-- LANDING PAGE -->
<div class="main-header">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="header-cont">
        <h1 class="main-banner center"> Design Your Life </h1>
        <h1 class="main-banner center"> Set Your Foundation </h1>
        <h1 class="main-banner center"> Build Your Future </h1>
      </div>

      <div class="row center header tag-under">
        <h4 class="col s12 light btm-banner">for us wealth is a state of well-being</h4>
      </div>
      <br><br>

    </div>
  </div>
</div>

<div class="infoBlocks">

  <a href="/#/mission">
    <div class="sect trifoldBlock" data-aos="fade-right">
      <h2 class="center infoBlock-header">Mission</h2>
      <p class="light">We seek to free our clients to pursue wealth and impact the world in a way that is authentic to their unique life experience</p>
    </div>
  </a>

  <a href="/#/vision">
    <div class="sect trifoldBlock" data-aos="fade-left">
      <h2 class="center infoBlock-header">Vision</h2>
      <p class="light">Wealth is the pursuit and culmination of life’s passions, experiences, struggles, and accomplishments</p>
    </div>
  </a>

  <a href="/#/philosophies">
    <div class="sect trifoldBlock" data-aos="slide-up">
      <h2 class="center infoBlock-header">Philosophy</h2>
      <p class="light">Trade a scacity mentality for abundance mentailty</p>
    </div>
  </a>

</div>


<div class="page-footer secondary-color">

  <div class="row">
    <div class="col l12 s12 foot-content">
      <ul class="row">
        <li><a class="white-text col foot-content" href="/#/why">Why We Serve</a></li>
        <li><a class="white-text col foot-content" href="/#/how">How We Serve</a></li>
        <li><a class="white-text col foot-content" href="/#/who">Who We Serve</a></li>
        <li><a class="white-text col foot-content" href="/#/resources">Resources</a></li>
        <li><a class="white-text col foot-content" href="/#/philosophies">Philosophy</a></li>
        <li><a class="white-text col foot-content" ng-click="doLogout()" href="#">Sign Out</a></li>
      </ul>
    </div>
  </div>

  <div class="cprfoot white-text">
    Designed by <a class="white-text text-lighten-3" href="https://media.giphy.com/media/UrpzTS3bMAsOQ/giphy.gif">Luke</a>
  </div>

</div>
