<div class="menu-collapsed">
 <div class="bar"></div>

 <div class="moble-nav">
   <ul>
     <li><a class="" href="/#!/why#why-top">Why We Serve</a></li>
     <li><a class="" href="/#!/how#how-top">How We Serve</a></li>
     <li><a class="" href="/#!/who#who-top">Who We Serve</a></li>
     <li><a class="" href="/#!/why/#phil">Philosophy</a></li>
     <li><a class="" href="/#!/resources">Resources</a></li>
     <li><a class="" ng-click="doLogout()">Sign Out</a></li>
   </ul>
 </div>

</div>

<!-- <a id="logo-container" href="#"><img src="img/arrows copy.png" alt="logo"></a> -->

<!-- LANDING PAGE -->
<div class="main-header" id="main-top">
  <div class="logo-case">
    <img class="logo" src="img/PWA_logo.png" alt="logo">
  </div>
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center tricker">
        <h5 class="col s12 light btm-banner"> Design Your Life - Set Your Foundation - Build Your Future </h5>
        <!-- <h5>Design Your Life</h5>
        <h5>Set Your Foundation</h5>
        <h5>Build Your Future</h5> -->
      </div>
      <div class="header-cont">
        <h1 class="main-banner center" data-aos="zoom-in"> WEALTH IS A STATE OF WELLBEING  </h1>
      </div>
      <a href="/#!/home/#contact-field">
        <button type="button" name="button" class="go-to-contact">Contact</button>
      </a>
    </div>
  </div>
</div>

<div class="stripe">
 <img class="stripe-logo img-responsive" src="img/fpa-logo.png" alt="">
 <img class="stripe-logo img-responsive" src="img/cfp-logo.png" alt="">
 <img class="stripe-logo img-responsive" src="img/xy-planning-logo.png" alt="">
</div>

<div class="infoBlocks">

    <div class="row trifoldBlock">
      <div class="mission-sect icon-sect col m6">
        <img class="icon center-block img-responsive" src="img/003-spacecraft.png" alt="rocket" data-aos="">
      </div>
      <div class="col m6 ">
        <h2 class="infoBlock-header">Mission</h2>
        <p class="light sect-block">
          Through collaborative Financial Planning, our goal is to unleash human capital so that each client can pursue Wealth and impact the world in a way that is authentic to their unique life experience.
          <a href="/#!/why/#why-top">
            <button type="button" name="button" class="btn-three">GO TO</button>
          </a>
        </p>
      </div>
    </div>

    <div class="row trifoldBlock" data-aos="">
      <div class="col m6">
          <h2 class="infoBlock-header">Vision</h2>
          <p class="light sect-block">
            We hope to serve as a reminder that there is a significant difference between Wealth and money… Wealth is infinite – money is not. And the power of financial planning exists in this dichotomy.
            <a href="/#!/why/#why-top">
              <button type="button" name="button" class="btn-three">GO TO</button>
            </a>
          </p>
      </div>
      <div class="vision-sect icon-sect col m6">
        <img class="icon center-block img-responsive" src="img/002-telescope.png" alt="telescope">
      </div>
    </div>

    <div class="row trifoldBlock" data-aos="">
      <div class="phil-sect icon-sect col m6 ">
        <img class="icon center-block img-responsive" src="img/001-cogwheel.png" alt="cogwheel">
      </div>
      <div class="col m6">
        <h2 class="infoBlock-header">Philosophy</h2>
        <p class="light sect-block">
          We trust you to be the expert of your life, and we help you live your life abundantly.
          <a href="/#!/why/#phil">
            <button type="button" name="button" class="btn-three">GO TO</button>
          </a>
        </p>
      </div>
    </div>

  <a href="/#!/why#why-top">
    <h3 class="center infoBlock-header" data-aos="slide-up">
      If you find our foundational worldviews compelling, we encourage you to continue exploring our website!
    </h3>
    <!-- <h3 class="center infoBlock-header" data-aos="slide-up">READ MORE</h3> -->
  </a>

</div>
<div class="contact ">

</div>

<div class="secondary-color">
  <div class="row">
    <div class="col l12 s12">
      <ul class="row">
        <li><a class="col foot-content" href="/#!/why#why-top">Why We Serve</a></li>
        <li><a class="col foot-content" href="/#!/how#how-top">How We Serve</a></li>
        <li><a class="col foot-content" href="/#!/who#who-top">Who We Serve</a></li>
        <li><a class="col foot-content" href="/#!/why/#phil">Philosophy</a></li>
        <li><a class="col foot-content" href="/#!/services#services-top">Services</a></li>
        <li><a class="col foot-content" ng-click="doLogout()" href="#">Sign Out</a></li>
      </ul>
    </div>
  </div>

  <div class=" row cprfoot">
    <p class="col sm 6">Designed by <a class=" text-lighten-3" href="http://lukewdwrd.net/">Luke</a></p>
    <p class="col sm 6">Icons provided by <a class=" text-lighten-3" href="http://www.flaticon.com/">FlatIcon</a></p>
  </div>
</div>
