<div class="logo-case">
  <img class="logo" src="img/PWA_logo.png" alt="logo">
</div>
<div class="menu-collapsed">
 <div class="bar"></div>

 <div class="moble-nav">
   <ul>
     <li><a class="" href="/paradigm-weath-architects/#!/why">Why We Serve</a></li>
     <li><a class="" href="/paradigm-weath-architects/#!/how">How We Serve</a></li>
     <li><a class="" href="/paradigm-weath-architects/#!/who">Who We Serve</a></li>
     <li><a class="" href="/paradigm-weath-architects/#!/resources">Resources</a></li>
     <li><a class="" href="/paradigm-weath-architects/#!/philosophy">Philosophy</a></li>
     <li><a class="" ng-click="doLogout()">Sign Out</a></li>
   </ul>
 </div>

</div>

<!-- <a id="logo-container" href="#"><img src="img/arrows copy.png" alt="logo"></a> -->

<!-- LANDING PAGE -->
<div class="main-header">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="header-cont">
        <h1 class="main-banner center"> WEALTH IS A STATE OF WELLBEING </h1>
      </div>
      <div class="row center header tag-under">
        <h5 class="col s12 light btm-banner"> Design Your Life - Set Your Foundation - Build Your Future </h5>
      </div>
      <br><br>

    </div>
  </div>
</div>

<div class="infoBlocks">

  <a href="/paradigm-weath-architects/#!/mission">
    <div class="row trifoldBlock" data-aos="fade-right">
      
      <div class="icon-sect col m4">
        <img class="icon" src="img/003-spacecraft.png" alt="rocket">
      </div>
      <div class="sect col m8">
        <h2 class="infoBlock-header">Mission</h2>
        <p class="light">We seek to free our clients to pursue wealth and impact the world in a way that is authentic to their unique life experience</p>
      </div>

    </div>
  </a>

  <a href="/paradigm-weath-architects/#!/vision">
    <div class="row trifoldBlock" data-aos="fade-left">
      <div class="icon-sect col m4">
        <img class="icon" src="img/002-telescope.png" alt="telescope">
      </div>
      <div class="sect col m8">
        <h2 class="infoBlock-header">Vision</h2>
        <p class="light">Wealth is the pursuit and culmination of life’s passions, experiences, struggles, and accomplishments</p>

      </div>
    </div>
  </a>

  <a href="/paradigm-weath-architects/#!/philosophy">
    <div class="row trifoldBlock" data-aos="slide-up">
      <div class="icon-sect col m4">
        <img class="icon" src="img/001-cogwheel.png" alt="telescope">
      </div>
      <div class="sect col m8">
        <h2 class="infoBlock-header">Philosophy</h2>
        <p class="light">Trade a scacity mentality for abundance mentailty</p>
      </div>
    </div>
  </a>

  <a href="/paradigm-weath-architects/#!/why">
      <h3 class="center click-me-font" data-aos="slide-up">READ MORE</h3>
  </a>

</div>


<div class="secondary-color">

  <div class="row">
    <div class="col l12 s12 foot-content">
      <ul class="row">
        <li><a class="white-text col foot-content" href="/paradigm-weath-architects/#!/why">Why We Serve</a></li>
        <li><a class="white-text col foot-content" href="/paradigm-weath-architects/#!/how">How We Serve</a></li>
        <li><a class="white-text col foot-content" href="/paradigm-weath-architects/#!/who">Who We Serve</a></li>
        <li><a class="white-text col foot-content" href="/paradigm-weath-architects/#!/resources">Resources</a></li>
        <li><a class="white-text col foot-content" href="/paradigm-weath-architects/#!/philosophy">Philosophy</a></li>
        <li><a class="white-text col foot-content" ng-click="doLogout()" href="#">Sign Out</a></li>
      </ul>
    </div>
  </div>

  <div class="white-text row cprfoot">
    <p class="col sm 6">Designed by <a class="white-text text-lighten-3" href="https://media.giphy.com/media/UrpzTS3bMAsOQ/giphy.gif">Luke</a></p>
    <p class="col sm 6">Icons provided by <a class="white-text text-lighten-3" href="http://www.flaticon.com/">FlatIcon</a></p>
  </div>
</div>
