<div class="heading">
    <h1 class="center"> Mission </h1>
    <a href="/#!/vision">
      <h4 class="next"> VISION <i class="material-icons">keyboard_arrow_right</i> </h4>
    </a>
</div>


<div class="container botm-marg">

  <p>
    Our purpose at Paradigm Wealth Architects is to help clear the path for exceptional human beings to live a life that is in alignment with their best-selves. Through collaboration, our goal is to unleash human capital with purposeful financial planning so that each client can pursue wealth and impact the world in a way that is authentic to their unique life experience.
  </p>
  <div class="quote">
    “Everyone has his own specific vocation or mission in life; everyone must carry out a concrete assignment that demands fulfillment. Therein he cannot be replaced, nor can his life be repeated. Thus, everyone's task is unique as is his specific opportunity to implement it.” ― Viktor E. Frankl, Man's Search for Meaning
  </div>
  <p>
     This quote by Frankl summarizes Paradigm Wealth’s “why”. We believe every individual has the right and unlimited potential to have an impact on the world; and we feel called to build relationships with discerning clients to help ensure their resources work for them in pursuit of their vision of fulfillment. Frankl’s sentiments denote a sense of certainty about the future or a belief in a particular way forward. However we understand that life is a journey and preferred futures can change, so we also subscribe to Larry Wilson’s more nuanced description: “Fulfillment is the deeply felt sense that your life is full, whole, complete – that you have expanded to ‘fill up’ your potential. Fulfillment is knowing that, if you died tomorrow, your life would have meant something, that it was going in the right direction and you were making a difference. Fulfillment, unlike success, is largely defined by internal measures, by how we feel about what we’re doing or have done.”
  </p>
  <p>
    However you prefer to think about it, helping people pursue fulfillment is why we are committed to serving clients, as fiduciaries, through financial planning. Not that a purpose has to be known on the first day we begin working together, or that it is a goal for 12 months into our relationship. Rather, we believe that individuals co-create the future through introspection and a focus on controlling what they can control – so they might more effectively pursue meaning in their lives.
  </p>
  <div class="quote">

    “Ultimately, man should not ask what the meaning of his life is, but rather must recognize that it is he who is asked. In a word, each man is questioned by life; and he can only answer to life by answering for his own life….” ― Viktor E. Frankl, Man's Search for Meaning. If you find our core ideology compelling, we encourage you to continue exploring our website!
  </div>

</div>

<div class="page-footer secondary-color">

  <div class="row">
    <div class="col l12 s12 foot-content">
      <ul class="row">
        <li><a class="white-text col foot-content" href="/#!/why">Why We Serve</a></li>
        <li><a class="white-text col foot-content" href="/#!/how">How We Serve</a></li>
        <li><a class="white-text col foot-content" href="/#!/who">Who We Serve</a></li>
        <li><a class="white-text col foot-content" href="/#!/resources">Resources</a></li>
        <li><a class="white-text col foot-content" href="/#!/philosophy">Philosophy</a></li>
        <li><a class="white-text col foot-content" ng-click="doLogout()" href="#">Sign Out</a></li>
      </ul>
    </div>
  </div>

  <div class="cprfoot white-text">
    Designed by <a class="white-text text-lighten-3" href="https://media.giphy.com/media/UrpzTS3bMAsOQ/giphy.gif">Luke</a>
  </div>

</div>
