<div class="menu-collapsed">
 <div class="bar"></div>

 <div class="moble-nav">
   <ul>
     <li><a href="/#!/home#main-top">Home</a></li>
     <li><a href="/#!/why#why-top">Why We Serve</a></li>
     <li><a href="/#!/who#who-top">Who We Serve</a></li>
     <li><a href="/#!/resources">Resources</a></li>
     <li><a href="/#!/philosophy">Philosophy</a></li>
     <li><a ng-click="doLogout()">Sign Out</a></li>
   </ul>
 </div>

</div>

<div class="center header-cont">
  <h5>Page Under Construction</h5>

  <a href="/#!/home#main-top">HOME</a>
</div>
<div class="container botm-marg">

</div>
