<div class="blue-gradient">
  <div class="center">
    <h1 class="temp-header"> Services </h1>
  </div>

  <!-- OUR FOUNDATION -->
  <div class="header-top center">
    <p class="quote">
      “If I have the belief that I can do it, I shall surely acquire the capacity to do it even if I may not have it at the beginning.” – Mahatma Gandhi
    </p>
  </div>

  <div class="container service-pref">
    <div class="row">

      <div class="icon-two">
        <img class=" col s3" src="img/002-telescope.png" alt="">
      </div>
      <p class="col s9">
        In determining which aspects of our service offering you’d like to engage with us, we can assure you that we will not try to sell you on anything you don’t need. We simply have a conversation about your time, money, and effort – and let you decide how you want to use them. Most of our clients didn’t pursue formal education in or want to spend time learning financial planning concepts, so they use their money to save time, effort, and headaches. Just with our explanation of our philosophy, everything comes down to trade-offs among resources – you just determine what is worth the most to you.
      </p>

    </div>

    <div class="row">

      <p class="col s9">
        Recognizing that your time and human capital are some of your most valuable resources, we have consciously streamlined our service offering to facilitate relationships virtually so that we are available for you no matter where life takes you!
      </p>
      <div class="icon-two">
        <img class="col s3" src="img/002-telescope.png" alt="">
      </div>

    </div>
  </div>

</div>

<div class="secondary-color">
    <div class="col s12">
      <ul class="row">
        <li><a class="col foot-content" href="/paradigm-weath-architects/#!/who">Who We Serve</a></li>
        <li><a class="col foot-content" href="/paradigm-weath-architects/#!/resources">Resources</a></li>
        <li><a class="col foot-content" href="/paradigm-weath-architects/#!/philosophy">Philosophy</a></li>
        <li><a class="col foot-content" ng-click="doLogout()" href="#">Sign Out</a></li>
      </ul>
    </div>

  <div class="white-text row cprfoot">
    <p class="col sm 6">Designed by <a class=" text-lighten-3" href="https://media.giphy.com/media/UrpzTS3bMAsOQ/giphy.gif">Luke</a></p>
    <p class="col sm 6">Icons provided by <a class=" text-lighten-3" href="http://www.flaticon.com/">FlatIcon</a></p>
  </div>
</div>
