<div class="menu-collapsed">
 <div class="bar"></div>

 <div class="moble-nav">
   <ul>
     <li><a href="/#!/home#main-top">Home</a></li>
     <li><a href="/#!/home#main-top">Home</a></li>
     <li><a href="/#!/why#why-top">Why We Serve</a></li>
     <li><a href="/#!/who#who-top">Who We Serve</a></li>
     <li><a href="/#!/resources">Resources</a></li>
     <li><a href="/#!/why/#phil">Philosophy</a></li>
     <li><a ng-click="doLogout()">Sign Out</a></li>
   </ul>
 </div>
</div>

<!-- NAV BAR -->
<div id="nav" class="navbar">
  <div class="logo-case">
    <a href="/#!/home#main-top">
      <img class="logo" src="img/PWA_logo_orange.png" alt="logo">
    </a>
  </div>
  <div class="nav-list">
    <a class="nav-element dropdown-button" href='/#!/why#why-top' data-beloworigin="true" data-activates='dropdown1'>Why We Serve</a>
      <ul id='dropdown1' class='dropdown-content'>
        <li><a href="/#!/why#vision">Our Vision</a></li>
          <li><a href="/#!/why#mission">Our Mission</a></li>
          <li><a href="/#!/why#about">Our Journey</a></li>
      </ul>
    <a class="nav-element dropdown-button" href="/#!/how#how-top" data-beloworigin="true" data-activates='dropdown2'>How We Serve</a>
      <ul id='dropdown2' class='dropdown-content'>
          <li><a href="/#!/how#anewparadigm"> A New <u>Paradigm</u></a></li>
          <li><a href="/#!/how#truwealth"> Creating True <u>Wealth</u></a></li>
          <li><a href="/#!/how#be-an-architect"> Being A Decision <u>Architect</u></a></li>
      </ul>
    <a class="nav-element dropdown-button" href="/#!/who#who-top" data-beloworigin="true" data-activates='dropdown3'>Who We Serve</a>
      <ul id='dropdown3' class='dropdown-content'>
        <li><a href="/#!/services#services">Our Services</a></li>
        <li><a href="/#!/home/#contact-field">Contact Us</a></li>
      </ul>
    <a class="nav-element dropdown-button" href="/#!/resources" data-beloworigin="true" data-activates='dropdown4'>Resources</a>
      <ul id='dropdown4' class='dropdown-content'>
        <li><a href=" ">Blog</a></li>
        <li><a href="https://www.rightcapital.com/login?referral=ohiTFXtlIoqpbh1w1SAUwQ&type=client">Client Login</a></li>
      </ul>
    <a class="nav-element dropdown-button" href="/#!/why#about">About</a>
  </div>
</div>

<div id="startchange" class="blue-gradient" id="services-top">
  <div class="center">
    <h1 class="temp-header"> Services </h1>
  </div>

  <!-- OUR FOUNDATION -->
  <div class="center">
    <p class="quote">
      “Even if you’re on the right track, you will get run over if you just sit there.” – Will Rogers
    </p>
  </div>

  <div class="container service-pref">
    <div class="row">
      <!-- ICONS   -->
      <img class="serv-image col s3" src="img/002-peace-talks.png" alt="" >
      <div class="col s9" style="text-align: right;">
        <h3 class="subhead-one">Lets Have a Conversation</h3>
        <p>
          In determining which aspects of our service offering you’d like to engage with us, we can assure you that we will not try to sell you on anything you don’t need. We simply have a conversation about your time, money, and effort – and let you decide how you want to use them. Most of our clients didn’t pursue formal education in or want to spend time learning financial planning concepts, so they use their money to save time, effort, and headaches. Just with our explanation of our philosophy, everything comes down to trade-offs among resources – you just determine what is worth the most to you.
        </p>
      </div>

    </div>

    <div class="row">
      <div class="col s9">
        <h3 class="subhead-one">We Can Come to You</h3>
        <p>
          Recognizing that your time and human capital are some of your most valuable resources, we have consciously streamlined our service offering to facilitate relationships virtually so that we are available for you no matter where life takes you!
        </p>
      </div>
      <!-- ICONS -->
      <img class="col s3 serv-image" src="img/001-speaker-inside-a-dialogue-box.png" alt="" >
    </div>


  </div>

</div>
<div class="container table-background">
  <div >
    <ul class="table-index">
      <li class="tbl-img"><img src="../img/check.png" alt="check"> = Included</li>
      <li class="tbl-img"><img src="../img/circle.png" alt="circle"> = Optional </li>
      <li class="tbl-img"><img src="../img/servicex.png" alt="ex"> = Not Included</li>
    </ul>
  </div>
  <table class="tbl">
    <tr>
      <th class="colm-wid services-label">Service</th>
      <td class="colm-wid"><b>Guidence</b> <br> <sub><i>Project Based Consulting</i></sub></th>
      <td class="colm-wid"><b>Setting the Foundation</b> <br> <sub><i>One-time Planning</i></sub></th>
      <td class="colm-wid"><b>Life By Design</b> <br> <sub><i>Ongoing Relationship</i></sub></th>
    </tr>
    <tr>
      <td class="services-col">Net Worth Organization</td>
      <td class="tbl-img"><img src="../img/circle.png"  alt="circle"></td>
      <td class="tbl-img"><img src="../img/check.png" alt="check"></td>
      <td class="tbl-img"><img src="../img/check.png" alt="check"></td>
    </tr>
    <tr>
      <td class="services-col">Cash Flow Planning</td>
      <td class="tbl-img"><img src="../img/circle.png"  alt="circle"></td>
      <td class="tbl-img"><img src="../img/check.png" alt="check"></td>
      <td class="tbl-img"><img src="../img/check.png" alt="check"></td>
    </tr>
    <tr>
      <td class="services-col">Insurance Review</td>
      <td class="tbl-img"><img src="../img/circle.png"  alt="circle"></td>
      <td class="tbl-img"><img src="../img/check.png" alt="check"></td>
      <td class="tbl-img"><img src="../img/check.png" alt="check"></td>
    </tr>
    <tr>
      <td class="services-col">Debt Management</td>
      <td class="tbl-img"><img src="../img/circle.png"  alt="circle"></td>
      <td class="tbl-img"><img src="../img/check.png" alt="check"></td>
      <td class="tbl-img"><img src="../img/check.png" alt="check"></td>
    </tr>
    <tr>
      <td class="services-col">Employee Benefit Analysis</td>
      <td class="tbl-img"><img src="../img/circle.png"  alt="circle"></td>
      <td class="tbl-img"><img src="../img/circle.png" alt="circle"></td>
      <td class="tbl-img"><img src="../img/check.png" alt="check"></td>
    </tr>
    <tr>
      <td class="services-col">Tax Planning Strategies</td>
      <td class="tbl-img"><img src="../img/circle.png"  alt="circle"></td>
      <td class="tbl-img"><img src="../img/circle.png" alt="circle"></td>
      <td class="tbl-img"><img src="../img/check.png" alt="check"></td>
    </tr>
    <tr>
      <td class="services-col">Education Planning</td>
      <td class="tbl-img"><img src="../img/circle.png"  alt="circle"></td>
      <td class="tbl-img"><img src="../img/circle.png" alt="circle"></td>
      <td class="tbl-img"><img src="../img/circle.png" alt="circle"></td>
    </tr>
    <tr>
      <td class="services-col">Business Planning</td>
      <td class="tbl-img"><img src="../img/circle.png"  alt="circle"></td>
      <td class="tbl-img"><img src="../img/circle.png" alt="circle"></td>
      <td class="tbl-img"><img src="../img/circle.png" alt="circle"></td>
    </tr>
    <tr>
      <td class="services-col">Retirement Planning</td>
      <td class="tbl-img"><img src="../img/circle.png"  alt="circle"></td>
      <td class="tbl-img"><img src="../img/circle.png" alt="circle"></td>
      <td class="tbl-img"><img src="../img/circle.png" alt="circle"></td>
    </tr>
    <tr>
      <td class="services-col">Legacy Planning</td>
      <td class="tbl-img"><img src="../img/circle.png"  alt="circle"></td>
      <td class="tbl-img"><img src="../img/circle.png" alt="circle"></td>
      <td class="tbl-img"><img src="../img/circle.png" alt="circle"></td>
    </tr>
    <tr>
      <td class="services-col">Vision & Goals Statement : <i>Personal</i></td>
      <td class="tbl-img"><img src="../img/circle.png"  alt="circle"></td>
      <td class="tbl-img"><img src="../img/check.png" alt="check"></td>
      <td class="tbl-img"><img src="../img/check.png" alt="check"></td>
    </tr>
    <tr>
      <td class="services-col">Vision & Goals Statement : <i>Professional</i></td>
      <td class="tbl-img"><img src="../img/circle.png"  alt="circle"></td>
      <td class="tbl-img"><img src="../img/circle.png" alt=""></td>
      <td class="tbl-img"><img src="../img/circle.png" alt="circle"></td>
    </tr>
    <tr>
      <td class="services-col">Personalized Stewardship Policies</td>
      <td class="tbl-img"><img src="../img/circle.png"  alt="circle"></td>
      <td class="tbl-img"><img src="../img/circle.png" alt="circle"></td>
      <td class="tbl-img"><img src="../img/check.png" alt="check"></td>
    </tr>
    <tr>
      <td class="services-col">Investment Analysis</td>
      <td class="tbl-img"><img src="../img/servicex.png" alt="ex"></td>
      <td class="tbl-img"><img src="../img/check.png" alt="check"></td>
      <td class="tbl-img"><img src="../img/circle.png" alt="circle"></td>
    </tr>
    <tr>
      <td class="services-col">Investment Management</td>
      <td class="tbl-img"><img src="../img/servicex.png" alt="ex"></td>
      <td class="tbl-img"><img src="../img/servicex.png" alt=""></td>
      <td class="tbl-img"><img src="../img/circle.png" alt="circle"></td>
    </tr>
  </table>

</div>

<div class="secondary-color">
  <div class="footer-nav">
    <ul>
      <li><a class="foot-content" href="/#!/why#why-top">Why We Serve</a></li>
      <li><a class="foot-content" href="/#!/how#how-top">How We Serve</a></li>
      <li><a class="foot-content" href="/#!/who#who-top">Who We Serve</a></li>
      <li><a class="foot-content" href="/#!/services#services-top">Services</a></li>
      <li><a class="foot-content" href="/#!/why#about">About</a></li>
    </ul>
  </div>

    <div class="cprfoot">
      <ul>
        <li class=""><a class=" text-lighten-3" href="/#!/disclosure">Disclosure</a></li>
        <li class=""><a class=" text-lighten-3" href="/#!/privacy">Privacy</a></li>
        <li class=""><a class=" text-lighten-3" href="../img/2017-06-09_PWA_ADV_Part2A.pdf" target='_blank'>ADV PART 2A</a></li>
        <li class=""><a class=" text-lighten-3" href="http://lukewdwrd.net/">Designed by Luke Woodward</a></li>
        <li class="text-lighten-3">&copy Copyright Paradigm Wealth Architects 2017</li>
      </ul>
    </div>
</div>
