<div class="menu-collapsed">
 <div class="bar"></div>

 <div class="moble-nav">
   <ul>
     <li><a href="/#!/home#main-top">Home</a></li>
     <li><a href="/#!/why#why-top">Why We Serve</a></li>
     <li><a href="/#!/who#who-top">Who We Serve</a></li>
     <li><a href="/#!/resources">Resources</a></li>
     <li><a href="/#!/why/#phil">Philosophy</a></li>
     <li><a ng-click="doLogout()">Sign Out</a></li>
   </ul>
 </div>
</div>

<!-- NAV BAR -->
<div class="navbar">
  <img ng-if="showLg" class="logo-lg" src="img/PWA_logo.png" alt="logo">
  <div class="logo-case">
    <a href="/#!/home#main-top">
      <img class="logo" src="img/PWA_logo.png" alt="logo">
    </a>
  </div>
  <div class="nav-list">
    <a class="nav-element dropdown-button" href='/#!/why#why-top' data-beloworigin="true" data-activates='dropdown1'>Why</a>
      <ul id='dropdown1' class='dropdown-content'>
          <li><a href="/#!/why#phil">Our Philosophy</a></li>
          <li><a href="/#!/why#foundation">Our Foundation</a></li>
          <li><a href="/#!/why#pro-journ">Professional Jouney</a></li>
          <li><a href="/#!/why#per-journ">Personal Journey</a></li>
      </ul>
    <a class="nav-element dropdown-button" href="/#!/how#how-top" data-beloworigin="true" data-activates='dropdown2'>How</a>
      <ul id='dropdown2' class='dropdown-content'>
          <li><a href="/#!/how#newpara">A New Paradigm</a></li>
          <li><a href="/#!/how#truwealth">Creating True Wealth</a></li>
          <li><a href="/#!/how#be-arch">Being A Decision Architect</a></li>
      </ul>
    <a class="nav-element dropdown-button" href="/#!/who#who-top">Who</a>

    <a class="nav-element dropdown-button" href="/#!/services">Services</a>
    <a class="nav-element dropdown-button" href="/#!/resources">Resources</a>
    <a class="nav-element dropdown-button" ng-click="doLogout()">SignOut</a>
  </div>
</div>

<div class="blue-gradient" id="services-top">
  <div class="center">
    <h1 class="temp-header"> Services </h1>
  </div>

  <!-- OUR FOUNDATION -->
  <div class="center">
    <p class="quote">
      “If I have the belief that I can do it, I shall surely acquire the capacity to do it even if I may not have it at the beginning.” – Mahatma Gandhi
    </p>
  </div>

  <div class="container service-pref">
    <div class="row">
      <!-- ICONS   -->
      <img class="serv-image col s3" src="img/002-peace-talks.png" alt="" >
      <div class="col s9" style="text-align: right;">
        <h3 class="subhead-one">Lets Have a Conversation</h3>
        <p>
          In determining which aspects of our service offering you’d like to engage with us, we can assure you that we will not try to sell you on anything you don’t need. We simply have a conversation about your time, money, and effort – and let you decide how you want to use them. Most of our clients didn’t pursue formal education in or want to spend time learning financial planning concepts, so they use their money to save time, effort, and headaches. Just with our explanation of our philosophy, everything comes down to trade-offs among resources – you just determine what is worth the most to you.
        </p>
      </div>

    </div>

    <div class="row">
      <div class="col s9">
        <h3 class="subhead-one">We Can Come to You</h3>
        <p>
          Recognizing that your time and human capital are some of your most valuable resources, we have consciously streamlined our service offering to facilitate relationships virtually so that we are available for you no matter where life takes you!
        </p>
      </div>
      <!-- ICONS -->
      <img class="col s3 serv-image" src="img/001-speaker-inside-a-dialogue-box.png" alt="" >
    </div>

  </div>

</div>


<div class="questions">
  <img id="services_table" class="center-block responsive-img" src="img/PWA_Services_Table.png" alt="services_table">
</div>

<div class="secondary-color">
    <div class="footer-nav">
      <ul>
        <li><a class="foot-content" href="/#!/home#main-top">Home</a></li>
        <li><a class="foot-content" href="/#!/why#why-top">Why We Serve</a></li>
        <li><a class="foot-content" href="/#!/how#how-top">How We Serve</a></li>
        <li><a class="foot-content" href="/#!/who#who-top">Who We Serve</a></li>
        <li><a class="foot-content" href="/#!/why/#phil">Philosophy</a></li>
        <li><a class="foot-content" ng-click="doLogout()" href="#">Sign Out</a></li>
      </ul>
    </div>

  <div class="cprfoot">
    <p class="">Designed by <a class=" text-lighten-3" href="http://lukewdwrd.net/">Luke</a></p>
  </div>
</div>
