
<div class="center">
    <h1>Vision</h1>
</div>


<div class="container botm-marg">

  <p>
    We hope to serve as a reminder for our clients and the financial planning profession that there is a significant difference between Wealth and money. For us, Wealth is a state of well-being – the pursuit and culmination of life’s passions, experiences, struggles, and accomplishments – which can only come from within and is founded in a sense of gratitude for what was, what is, and what might be. Money on the other hand, while necessary to thrive in 21st century America and one of human-kind’s greatest creations, is simply a tool to efficiently exchange an individual’s resources (skills, knowledge, time, effort, property, etc.) for the desired resources that another individual can provide. Conflating the two can muddy priorities, resulting in a lack of genuine fulfillment with life.

    We believe that the power of financial planning exists in this dichotomy; Wealth is infinite – money is not. A focus on building Wealth encourages individuals to live life with an abundance mentality, emphasizing resourcefulness instead of resources. The stewardship mindset reinforces gratitude for the resources available and enhances creativity in how to leverage those resources, ultimately maintaining an awareness of what we can control and being present for the journey.

  </p>



</div>
