<div class="heading">
    <h1 class="center"> Who We Serve </h1>
    <a href="/#!/home">
      <p class="next"> HOME <i class="material-icons">keyboard_arrow_right</i> </p>
    </a>
</div>


<div class="container botm-marg">

  <div class="quote">
    “I believe that one defines oneself by reinvention. To not be like your parents. To not be like your friends. To be yourself. To cut yourself out of stone.” – Henry Rollins
  </div>
  <p>
    We help discerning and passionate professionals save time, alleviate money anxiety, and pursue fulfillment through mindful financial planning. Our clients are creative, hardworking, aspirational individuals who value their time, and desire to explore life from a place of abundance.
  </p>
  <p>
    While we typically work with young professionals and entrepreneurs, we do not have an ‘ideal client’. We enjoy serving individuals from all walks of life who fall anywhere on the ‘spectrum of success’; however, our most fruitful engagements have been with individuals who are serious about pursuing their best-selves, have a passion to make a difference in the world, those who love to explore life’s possibilities, or who understand the value of collaboration and leveraging their resources.
  </p>
  <h5>Situations and questions we have helped our client’s explore:</h5>
    <div id="cli-sit" style="margin-left: 5%;">
      <ul>
        <li>“I’m making progress and realizing success, but how do I know if I’m leveraging my resources effectively?”</li>
        <li>“I’m realizing success but I don’t know what I want to do next. How can I set myself up for future success while also focusing on being flexible for life’s possibilities?”</li>
        <li>“How can we create a layer of financial protection to ensure we are not knocked off course by aspects of life that are beyond our control?”</li>
        <li>“As a professional with uneven cash flows from a base salary plus commissions, how do I build a strategy for resilience and growth as life unfolds when a significant portion of my income is uncertain?”</li>
        <li>“How can I strike a balance between optimizing my current lifestyle and life experiences with decisions that set my future-self up for success and opportunity?”</li>
        <li>“What aspects of my financial picture are taking up my time that I could outsource and use that time towards something more meaningful that is also in alignment with my gifts and talents?”</li>
        <li>“How do we maximize my employee benefits to make sure we’re taking full advantage of everything offered?”</li>
        <li>“I make a solid income in my current job but I’m not sure this is a long-term role. I’m considering switching companies or going back to school for further education. How can I figure out what makes the most sense for me personally and for my financial situation?”</li>
        <li>“What is the most effective way to handle stock options (business equity, RSUs, ISOs, etc.) to help minimize the tax bill and maximize flexibility?”</li>
        <li>“I run a small business and haven’t been great at keeping cash flow separate. How should I develop a plan to help make sure that I’m clear on where I stand financially personally and professionally?”</li>
        <li>“We have a ton of student loans that we want to pay down, but we also want to invest money and save for a down-payment on a house. Can you helps us prioritize our cash?”</li>
      </ul>
    </div>


</div>

<div class="page-footer secondary-color">

  <div class="row">
    <div class="col l12 s12 foot-content">
      <ul class="row">
        <li><a class="white-text col foot-content" href="/#!/home">Home</a></li>
        <li><a class="white-text col foot-content" href="/#!/why">Why We Serve</a></li>
        <li><a class="white-text col foot-content" href="/#!/how">How We Serve</a></li>
        <li><a class="white-text col foot-content" href="/#!/resources">Resources</a></li>
        <li><a class="white-text col foot-content" href="/#!/philosophy">Philosophy</a></li>
        <li><a class="white-text col foot-content" ng-click="doLogout()" href="#">Sign Out</a></li>
      </ul>
    </div>
  </div>

  <div class="cprfoot white-text">
    Designed by <a class="white-text text-lighten-3" href="https://media.giphy.com/media/UrpzTS3bMAsOQ/giphy.gif">Luke</a>
  </div>

</div>
