<div class="menu-collapsed">
 <div class="bar"></div>

 <div class="moble-nav">
   <ul>
     <li><a href="/#!/home#main-top">Home</a></li>
     <li><a href='/#!/why#why-top'>Why We Serve</a></li>
     <li><a href="/#!/how#how-top">How We Serve</a></li>
     <li><a href="/#!/who#who-top">Who We Serve</a></li>
     <li><a href="/#!/resources">Resources</a></li>
     <li><a href="/#!/why#about">About</a></li>
   </ul>
 </div>
</div>

<!-- NAV BAR -->
<div id="nav" class="navbar">
  <div class="logo-case">
    <a href="/#!/home#main-top">
      <img class="logo" src="img/PWA_logo_orange.png" alt="logo">
    </a>
  </div>
  <div class="nav-list">
    <a class="nav-element dropdown-button" href='/#!/why#why-top' data-beloworigin="true" data-activates='dropdown1'>Why We Serve</a>
      <ul id='dropdown1' class='dropdown-content'>
        <li><a href="/#!/why#vision">Our Vision</a></li>
          <li><a href="/#!/why#mission">Our Mission</a></li>
          <li><a href="/#!/why#about">Our Journey</a></li>
      </ul>
    <a class="nav-element dropdown-button" href="/#!/how#how-top" data-beloworigin="true" data-activates='dropdown2'>How We Serve</a>
      <ul id='dropdown2' class='dropdown-content'>
          <li><a href="/#!/how#anewparadigm"> A New <u>Paradigm</u></a></li>
          <li><a href="/#!/how#truwealth"> Creating True <u>Wealth</u></a></li>
          <li><a href="/#!/how#be-an-architect"> Being Decision <u>Architects</u></a></li>
      </ul>
    <a class="nav-element dropdown-button" href="/#!/who#who-top" data-beloworigin="true" data-activates='dropdown3'>Who We Serve</a>
      <ul id='dropdown3' class='dropdown-content'>
        <li><a href="/#!/services#services">Our Services</a></li>
        <li><a href="/#!/home/#contact-field">Contact Us</a></li>
      </ul>
    <a class="nav-element dropdown-button" href="/#!/resources" data-beloworigin="true" data-activates='dropdown4'>Resources</a>
      <ul id='dropdown4' class='dropdown-content'>
        <li><a href=" ">Blog</a></li>
        <li><a href="https://www.rightcapital.com/login?referral=ohiTFXtlIoqpbh1w1SAUwQ&type=client">Client Login</a></li>
      </ul>
    <a class="nav-element dropdown-button" href="/#!/why#about">About</a>
  </div>
</div>


<div id="startchange" id="who-top" class="blue-gradient">
  <div class=" center">
    <div class="center">
      <h1 class="temp-header"> Who We Serve </h1>
    </div>
  </div>
  <div class="image-stripe-three">

  </div>

  <p class="quote">
    “A master in the art of living draws no sharp distinction between his work and his play; his labor and his leisure; his mind and his body; his education and his recreation. He hardly knows which is which. He simply pursues his vision of excellence through whatever he is doing, and leaves others to determine whether he is working or playing. To himself, he always appears to be doing both.” – Lawrence Pearsall Jacks
  </p>
  <div class="container"  >
    <p>
      We help discerning and passionate professionals save time, alleviate resource-related anxiety, and pursue fulfillment through Financial Planning. Our clients are creative, hardworking, aspirational individuals who value their time, and desire to explore life from a place of abundance.
    </p>
    <p>
      While we typically work with young professionals and entrepreneurs, we do not have an ‘ideal client’. We enjoy serving individuals from all walks of life who fall anywhere on the ‘spectrum of success’; however, our most fruitful engagements have been with individuals who are serious about pursuing their ideal-selves, have a passion to make a difference in the world, those who love to explore life’s possibilities, or who understand the value of collaboration and leveraging their resources.
    </p>
  </div>
</div>

<div class="questions" >
  <h5 class="center sub-header-two">Situations and questions we have helped our clients explore:</h5>
    <div class="row" id="cli-sit" >
      <ul id="client-stack-one" class="col m6 ">
        <li data-aos="slide-right">“I’m making progress and realizing success, but how do I know if I’m leveraging my resources effectively?”</li>
        <li data-aos="slide-right">“I’m realizing success but I don’t know what I want to do next. How can I set myself up for future success while also focusing on being flexible for life’s possibilities?”</li>
        <li data-aos="slide-right">“How can we create a layer of financial protection to ensure we are not knocked off course by aspects of life that are beyond our control?”</li>
        <li data-aos="slide-right">“As a professional with uneven cash flows from a base salary plus commissions, how do I build a strategy for resilience and growth as life unfolds when a significant portion of my income is uncertain?”</li>
        <li data-aos="slide-right">“How can I strike a balance between optimizing my current lifestyle and life experiences with decisions that set my future-self up for success and opportunity?”</li>
        <li data-aos="slide-right">“What aspects of my financial picture are taking up my time that I could outsource and use that time towards something more meaningful that is also in alignment with my gifts and talents?”</li>
      </ul>
      <ul id="client-stack-two" class="col m6 ">
        <li data-aos="slide-left">“How do we maximize my employee benefits to make sure we’re taking full advantage of everything offered?”</li>
        <li data-aos="slide-left">“I make a solid income in my current job but I’m not sure this is a long-term role. I’m considering switching companies or going back to school for further education. How can I figure out what makes the most sense for me personally and for my financial situation?”</li>
        <li data-aos="slide-left">“What is the most effective way to handle stock options (business equity, RSUs, ISOs, etc.) to help minimize the tax bill and maximize flexibility?”</li>
        <li data-aos="slide-left">“I run a small business and haven’t been great at keeping cash flow separate. How should I develop a plan to help make sure that I’m clear on where I stand financially personally and professionally?”</li>
        <li data-aos="slide-left">“We have a lot of student loans we want to pay off, but we also want to invest money and save for a down payment on our first home. How can we figure out our options to accomplishing these goal”</li>
      </ul>
    </div>
    <div class="services">
      <a href="/#!/services#services-top">
        <button type="button" name="button" class="btn-two">View Services</button>
      </a>
    </div>
</div>


<div class="center orange-border">
  <a class="back" href="/#!/how/#how-top">
    <h5 class="sub-header-two"> <img src="img/arrow-left.png" alt="arrow" style="height: 15px"> HOW </h5>
  </a>
  <a class="next" href="/#!/home/#main-top">
    <h5 class="sub-header-two"> HOME <img src="img/arrows.png" alt="arrow" style="height: 15px"> </h5>
  </a>
</div>

<div class="secondary-color">
  <div class="footer-nav">
    <ul>
      <li><a class="foot-content" href="/#!/why#why-top">Why We Serve</a></li>
      <li><a class="foot-content" href="/#!/how#how-top">How We Serve</a></li>
      <li><a class="foot-content" href="/#!/who#who-top">Who We Serve</a></li>
      <li><a class="foot-content" href="/#!/services#services-top">Services</a></li>
      <li><a class="foot-content" href="/#!/why#about">About</a></li>
    </ul>
  </div>

    <div class="cprfoot">
      <ul>
        <li class=""><a class=" text-lighten-3" href="/#!/disclosure">Disclosure</a></li>
        <li class=""><a class=" text-lighten-3" href="/#!/privacy">Privacy</a></li>
        <li class=""><a class=" text-lighten-3" href="../img/2017-06-09_PWA_ADV_Part2A.pdf" target='_blank'>ADV PART 2A</a></li>
        <li class=""><a class=" text-lighten-3" href="http://lukewdwrd.net/">Designed by Luke Woodward</a></li>
        <li class="text-lighten-3">&copy Copyright Paradigm Wealth Architects 2017</li>
      </ul>
    </div>
</div>
