<div class="blue-gradient">
  <div class="center">
    <h1 class="temp-header"> Who We Serve </h1>
  </div>

  <!-- OUR FOUNDATION -->
  <div class="header-top center">
    <p class="quote">
      “A master in the art of living draws no sharp distinction between his work and his play; his labor and his leisure; his mind and his body; his education and his recreation. He hardly knows which is which. He simply pursues his vision of excellence through whatever he is doing, and leaves others to determine whether he is working or playing. To himself, he always appears to be doing both.” – Lawrence Pearsall Jacks
  </div>

  <div class="container" data-aos="slide-up">
    <p>
      We help discerning and passionate professionals save time, alleviate resource related anxiety, and pursue fulfillment through Financial Planning. Our clients are creative, hardworking, aspirational individuals who value their time, and desire to explore life from a place of abundance.
    </p>
    <p>
      While we typically work with young professionals and entrepreneurs, we do not have an ‘ideal client’. We enjoy serving individuals from all walks of life who fall anywhere on the ‘spectrum of success’; however, our most fruitful engagements have been with individuals who are serious about pursuing their ideal-selves, have a passion to make a difference in the world, those who love to explore life’s possibilities, or who understand the value of collaboration and leveraging their resources.
    </p>
  </div>
</div>

<div class="questions" data-aos="slide-up">
  <h5 class="center sub-header">Situations and questions we have helped our client’s explore:</h5>
    <div class="row" id="cli-sit" >
      <ul class="col m6">
        <li>“I’m making progress and realizing success, but how do I know if I’m leveraging my resources effectively?”</li>
        <li>“I’m realizing success but I don’t know what I want to do next. How can I set myself up for future success while also focusing on being flexible for life’s possibilities?”</li>
        <li>“How can we create a layer of financial protection to ensure we are not knocked off course by aspects of life that are beyond our control?”</li>
        <li>“As a professional with uneven cash flows from a base salary plus commissions, how do I build a strategy for resilience and growth as life unfolds when a significant portion of my income is uncertain?”</li>
        <li>“How can I strike a balance between optimizing my current lifestyle and life experiences with decisions that set my future-self up for success and opportunity?”</li>
        <li>“What aspects of my financial picture are taking up my time that I could outsource and use that time towards something more meaningful that is also in alignment with my gifts and talents?”</li>
      </ul>
      <ul class="col m6">
        <li>“How do we maximize my employee benefits to make sure we’re taking full advantage of everything offered?”</li>
        <li>“I make a solid income in my current job but I’m not sure this is a long-term role. I’m considering switching companies or going back to school for further education. How can I figure out what makes the most sense for me personally and for my financial situation?”</li>
        <li>“What is the most effective way to handle stock options (business equity, RSUs, ISOs, etc.) to help minimize the tax bill and maximize flexibility?”</li>
        <li>“I run a small business and haven’t been great at keeping cash flow separate. How should I develop a plan to help make sure that I’m clear on where I stand financially personally and professionally?”</li>
        <li>“We have a ton of student loans that we want to pay down, but we also want to invest money and save for a down-payment on a house. Can you helps us prioritize our cash?”</li>
      </ul>
    </div>
    <div class="services">
      <a href="/paradigm-weath-architects/#!/services" type="button" name="button" class="btn-two">Services</a>
    </div>
</div>


  <div class="center">
    <a class="back" href="/paradigm-weath-architects/#!/how">
      <h5 class="sub-header"> <i class="material-icons">keyboard_arrow_left</i> HOW </h5>
    </a>
    <a class="next" href="/paradigm-weath-architects/#!/home">
      <h5 class="sub-header"> HOME <i class="material-icons">keyboard_arrow_right</i> </h5>
    </a>
  </div>


<div class="secondary-color">
    <div class="col l12 s12">
      <ul class="row">
        <li><a class="col foot-content" href="/paradigm-weath-architects/#!/why">Why We Serve</a></li>
        <li><a class="col foot-content" href="/paradigm-weath-architects/#!/resources">Resources</a></li>
        <li><a class="col foot-content" href="/paradigm-weath-architects/#!/philosophy">Philosophy</a></li>
        <li><a class="col foot-content" ng-click="doLogout()" href="#">Sign Out</a></li>
      </ul>
    </div>

  <div class="white-text row cprfoot">
    <p class="col sm 6">Designed by <a class=" text-lighten-3" href="https://media.giphy.com/media/UrpzTS3bMAsOQ/giphy.gif">Luke</a></p>
    <p class="col sm 6">Icons provided by <a class=" text-lighten-3" href="http://www.flaticon.com/">FlatIcon</a></p>
  </div>
</div>
